.text_header_color {
  color: #009FE3;
}
.text-primary {
    --tw-text-opacity1: 1;
    color: rgb(14 165 233 / var(--tw-text-opacity, 1));
}
.btn_primary_outline {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(14 165 233 / var(--tw-text-opacity, 1));
}
.btn_primary_outline:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    cursor: pointer;
}
.card-shadow{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.active-tab 
{
    background-color: #0ea5e9;
    color: white !important;
}
.dropdown-shadow {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.custom-shadow {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(233 30 99 / var(--tw-text-opacity, 1));
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(0 163 224 / var(--tw-bg-opacity, 1));
}
.bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(233 30 99 / var(--tw-bg-opacity, 1));
}